.Today .temp {
  font-size: 36px;
  font-weight: bold;
  position: relative;
  top: -35px;
  left: 45px;
}

.Today .units {
  position: relative;
  top: -48px;
  left: 45px;
}

.Today .description {
  position: relative;
  top: -38px;
  font-size: 36px;
  left: 0px;
}

.Today .icon {
  position: relative;
  left: 15px;
  top: 58px;
}

.TempToday .active {
  color: white;
  cursor: default;
}

.TempToday .active:hover {
  text-decoration: none;
  color: white;
}

.Today li {
  list-style: none;
}

.WeatherConditions {
  position: relative;
  left: 110px;
}
