.TempToday .temp {
  font-size: 48px;
  font-weight: bold;
  position: relative;
  top: -30px;
  left: 13px;
}

.TempToday .units {
  position: relative;
  top: -52px;
}

li .text-capitalize {
  position: relative;
  top: -18px;
  font-size: 24px;
  left: -44px;
}

.TempToday canvas {
  position: relative;
  left: 10px;
  top: 20px;
}

.TempToday .active {
  color: white;
  cursor: default;
}

.TempToday .active:hover {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

.WeatherConditions {
  position: relative;
  left: 110px;
}
