.TempToday .temp {
  font-size: 36px;
  font-weight: bold;
  position: relative;
  top: -35px;
  left: 45px;
}

.TempToday .units {
  position: relative;
  top: -48px;
  left: 45px;
}

li .text-capitalize {
  position: relative;
  top: -38px;
  font-size: 36px;
  left: -20px;
}

.TempToday .icon {
  position: relative;
  left: 15px;
  top: 58px;
}

.TempToday .active {
  color: white;
  cursor: default;
}

.TempToday .active:hover {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

.WeatherConditions {
  position: relative;
  left: 110px;
}
