.TempToday .temp {
  font-size: 50px;
  font-weight: bold;
  position: relative;
  top: -35px;
  left: 30px;
}

.TempToday .units {
  position: relative;
  top: -58px;
  left: 30px;
}

li .text-capitalize {
  position: relative;
  top: -24px;
  font-size: 28px;
  left: -36px;
}

.TempToday canvas {
  position: relative;
  left: 15px;
  top: 20px;
}

.TempToday .active {
  color: white;
  cursor: default;
}

.TempToday .active:hover {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

.WeatherConditions {
  position: relative;
  left: 110px;
}
