.WeatherForecast {
  color: white;
  text-align: center;
  position: relative;
  top: 100px;
  margin: 10px 10px 50px 10px;
  width: 705px;
  padding-bottom: 10px;
}

.WeatherForecast canvas {
  display: block;
  margin: 5px auto;
}
