h1 {
  display: inline;
  position: relative;
  left: 0px;
  font-size: 1px;
  text-align: left;
  color: black;
  font-weight: bold;
  top: 0px;
}

.line {
  background-color: #fac168;
  border-radius: 20px;
  width: 660px;
  position: relative;
  left: 43px;
  color: black;
  border: 1px solid #fac168;
  padding: 1px 0px 1px 15px;
  margin-top: 5px;
  font-weight: 900;
}

.cityNow {
  margin: 0px;
}

.todayDay {
  position: relative;
  right: -41px;
}

.country {
  font-weight: 1px;
}
