input[type="text"] {
  border-radius: 40px;
  border: 1px solid #a3c0f5;
  box-shadow: 2px 2px 5px grey;
  padding: 0px 1px 1px 15px;
  font-size: 22px;
  background-color: white;
  color: #000000;
  transition: all 200ms ease;
  cursor: url("./images/zeroresized2.png"), auto;
  margin-top: 5px;
}

.magn {
  width: 43px;
  color: white;
  background: transparent;
  border: 0;
  outline: 0;
}

.magn img {
  width: 100%;
}

.magn:hover {
  cursor: pointer;
  color: #fac168;
  transition: all 200ms ease;
}

.TempToday {
  color: white;
}

h1 {
  display: inline;
  position: relative;
  left: 0px;
  font-size: 1px;
  text-align: left;
  color: black;
  font-weight: bold;
  top: 0px;
}

.lineHeader {
  background-color: #fac168;
  border-radius: 20px;
  width: 660px;
  position: relative;
  left: 43px;
  color: black;
  border: 1px solid #fac168;
  padding: 1px 0px 1px 15px;
  margin-top: 5px;
  font-weight: 900;
}

.cityNow {
  margin: 0px;
}

.todayDay {
  position: relative;
  right: -41px;
}

.country {
  font-weight: 1px;
}

.btnCurrentlocation {
  text-align: center;
  border: none;
  background-color: black;
  color: white;
  text-decoration: underline;
  margin: 0px auto 0px;
  padding: 0px;
}

.btnCurrentlocation:hover {
  cursor: pointer;
  color: #fac168;
  transition: all 200ms ease;
}
