.containerApp {
  font-family: "Texturina", serif;
  max-width: 740px;
  min-width: 740px;
  margin: 10px auto;
}

.card {
  background-image: url("./images/nbc.jpg");
  background-position: 55% 15%;
  background-size: cover;
  background-repeat: no-repeat;
  /*background-image: linear-gradient(to bottom right, cornflowerblue, white);*/
  height: 100%;
  border: 0.2rem solid #fac168;
  border-radius: 40px;
}

h2,
.temp,
.units,
.todayTempMinMax,
.Today,
.NextDays {
  color: white;
}

.forHour {
  font-weight: bold;
}

.title {
  position: relative;
  left: 250px;
  color: black;
  font-weight: bold;
  display: block;
  font-size: 30px;
  top: -230px;
}

.titleSpace {
  line-height: 0.4cm;
  text-indent: -0.8cm;
}

.code {
  margin: 0px;
  padding: 0;
  font-size: 12px;
  font-family: "Texturina", serif;
  font-weight: bold;
  margin-left: 25px;
}
