.containerApp {
  font-family: "Texturina", serif;
  max-width: 740px;
  min-width: 740px;
  margin: 10px auto;
}

.card {
  background-image: url("./images/nbc.jpg");
  background-position: 55% 15%;
  background-size: cover;
  background-repeat: no-repeat;
  /*background-image: linear-gradient(to bottom right, cornflowerblue, white);*/
  height: 100%;
  border: 0.2rem solid #fac168;
  border-radius: 40px;
}

h2,
.temp,
.units,
.todayTempMinMax,
.Today,
.NextDays,
.city {
  color: white;
}

.forHour {
  font-weight: bold;
}

.line {
  background-color: #fac168;
  border-radius: 20px;
  width: 660px;
  position: relative;
  left: 50px;
  color: black;
  border: 1px solid #fac168;
  padding: 1px 0px 1px 15px;
  margin: 5px 30px 0px 0px;
  font-weight: 900;
}

.title {
  position: relative;
  left: 235px;
  color: black;
  font-weight: bold;
  display: block;
  font-size: 30px;
}

.titleSpace {
  line-height: 0.4cm;
  text-indent: -0.8cm;
}

.NextDays {
  padding-top: 200px;
  padding-left: 15px;
  padding-bottom: 10px;
  text-align: left;
}

.col {
  padding: 0;
  text-align: center;
}

.Sunn {
  height: 30px;
  width: 30px;
}
